<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="miFrom" (ngSubmit)="onSubmit()" novalidate >
    <!-- nombre -->
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre" name="nombre" required ></ion-input>      
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmit && (errorCtl.nombre.errors?.required || errorCtl.nombre.errors?.minlength)">
      Este campo es requerido y 5 caracteres como minimo.
    </span>
    <span class="error ion-padding" *ngIf="isSubmit && errorCtl.nombre.errors?.pattern">
      Solo acepta letras.
    </span>
    
    <!-- correo -->
    <ion-item lines="full">
      <ion-label position="floating" >Correo</ion-label>
      <ion-input type="email" formControlName="correo" ></ion-input>      
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmit && errorCtl.correo.errors?.required ">
      Este campo es requerido.
    </span>
    <span class="error ion-padding" *ngIf="isSubmit && errorCtl.correo.errors?.pattern">
      Formato de correo invalido.
    </span>

    <!-- telefono -->
    <ion-item lines="full">
      <ion-label position="floating" >Teléfono</ion-label>
      <ion-input type="text" formControlName="telefono" ></ion-input>      
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmit && errorCtl.telefono.errors?.required ">
      Este campo es requerido.
    </span>
    <span class="error ion-padding" *ngIf="isSubmit && errorCtl.telefono.errors?.pattern">
      Solo acepta numeros, 10 digitos.
    </span>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-button type="submit" color="medium" expand="full" shape="round">Enviar</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
